<% provide(:title, 'All users') %>
<h1 class="centered-title">All users</h1>
<div class="container admin-users-container">
  <div class="col col-md-6">
  </div>
  <div class="col col-md-6">
    <% @users.each do |user| %>
      <ul class="list-group-horizontal animated fadeInDown">
        <li class="list-group-item"><%= user.name %></li>
        <li class="list-group-item"><%= user.email %></li>
        <% unless user.is_admin? %>
          <li class="list-group-item"><%= link_to "Delete user", admin_user_url(user), method: :delete, data: {confirm: "Are you sure?"} %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
