<% provide(:title, 'All users') %>
<h1 class="centered-title">All users</h1>
<ul class="users">
  <% @users.each do |user| %>
    <h4><%= user.name %></h4>
    <h4><%= user.email %></h4>
    <%= link_to "Delete user", admin_user_url(user), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</ul>
