<% provide(:title, 'All users') %>
<h1 class="centered-title">All users</h1>
<% @users.each do |user| %>
  <ul class="list-group-horizontal">
    <li class="list-group-item"><%= user.name %></li>
    <li class="list-group-item"><%= user.email %></li>
    <li class="list-group-item"><%= link_to "Delete user", admin_user_url(user), method: :delete, data: {confirm: "Are you sure?"} %></li>
  </ul>
<% end %>
