<div class="admin-footer pt-lg-2">
    <div class="button-group animated fadeInDown ">
    <%= link_to "Back to Admin", admin_path, class: "btn btn-info btn-lg" %>
    <%= link_to "Users list", admin_users_path, class: "btn btn-warning btn-lg" %>
    <%= link_to "All Orders", admin_orders_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Home Page", root_path, class: "btn btn-danger btn-lg" %>
  </div>
</div>