<div id="header-content">
  <h1 id="page-title">Ordering food</h1>
  <div id="rounded-line-container">
    <div class="holder">
      <div class="smallLine smallLine1"></div>
      <div class="smallLine smallLine2"></div>
    </div>
    <%= image_tag "dining_room_52px.png", id: "dining-room-icon", alt: "Dining room icon" %>
    <div class="holder">
      <div class="smallLine smallLine1"></div>
      <div class="smallLine smallLine2"></div>
    </div>
  </div>
  <h2 id="latin-text">Maecenas vells at magna sagittis venenatis. Integer pretium auctor<br> magna, egestas justo
    gravida vitae. In lacinia auctor auctor</h2>
</div>
